<% provide(:title, "About") %>

<h1>About</h1>
<div class="container static-text">
  <div class="col-xs-10 col-xs-offset-1">
    <p>I don't watch TV.  Most shows are boring.  But--but--but I was promised, Game of Thrones is <em>different</em>.
      Just watch one episode, I was promised, and [someone] would play at least an hour of The Sims.  So I watched
      Game of Thrones, and I have some opinions about it.  Particularly Jon.  He sucks.</p>

  <div class="container-fluid" id="viserys">
    <div class="row justify-content-center">
      <%= image_url("viserys-150.png") %>
    </div>
    <div class="row justify-content-center img-caption">
      <em>Best character in Game of Thrones, right here.  RIP.</em>
    </div>
  </div>

    <p>I've never really wanted for an opinion on anything, so hosted here are some thoughts about other stuff, too,
      I guess!</p>
  </div>
</div>