<% provide(:title, "About") %>

<h1>About</h1>
<p>I don't watch TV.  Most shows are boring.  But--but--but I was promised, Game of Thrones is <em>different</em>.
 Just watch one episode, I was promised, and [someone] would play at least an hour of The Sims.</p>

<p>So I watched Game of Thrones, and I have some opinions about it.  And some other assorted non-GoT stuff as well,
  I guess.</p>