<% provide(:title, "Projects") %>

<h1>Projects</h1>
<div class="container static-text">
  <p>Eventually I will have some things here!  Here's my really unexciting
    <%= link_to "Github account","https://github.com/vermilioncity", :target => "_blank" %> in the meanwhile.</p>
    <p>Current planned projects include:</p>
    <ul>
      <li>Web-scraping (cheating at?!) Neopets</li>
      <li>Building some Sims 4 mods</li>
      <li>Analyzing my Civilization VI play logs</li>
      <li>Making a Pokemon API</li>
      <li>Making this website not look terrible on mobile? :-)</li>
    </ul>
</div>