<p><%= @user.username.upcase %>!</p>
<p>
  Hello there!  Welcome to <%= link_to 'jonsnowisdumb.com', 'http://www.jonsnowisdumb.com' %>!  This site hosts some blog posts about Game of Thrones and some other
  things.  For some people, Jon Snow is a hero. Others consider him a well-intentioned Mary-Sue.  Myself...  I
  support the Lannisters.
</p>
<p>
  That's right!  You signed up for the site! <%= @user.username.upcase %>! Your very own legend is about to unfold! A world of
  dreams and adventures awaits! Let's go!
</p>
<p>
  <%= link_to "Activate your account", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>