<p>A forgotten password!  To reset, just click the link below:</p>

<p><%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>

<p>Note that this link will expire in two hours.</p>

<p>If you didn't ask for a password reset, you can safely ignore this email.</p>