<% provide(:title, "500 - Internal Error") %>

<h1>500 - Internal Error</h1>
<div class="container static-text">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <%= image_tag("500.png") %>
    </div>
  </div>
</div>