<% provide(:title, "404 - Not Found") %>

<h1>404 - Not Found</h1>
<div class="container static-text">
  <div class="container-fluid">
      <div class="row justify-content-center">
        <%= image_tag("404.jpg") %>
    </div>
  </div>
</div>