<% provide(:title, "422 - Forbidden") %>

<h1>422 - Forbidden</h1>
<div class="container static-text">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <%= image_tag("422.gif") %>
      </div>
    </div>
</div>