@import "bootstrap-sprockets";
@import "bootstrap";

.post {
  list-style: none;
  #post-header {
    display: inline;
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 20px;

    #post-title {
      float: left;
      font-size: 30px;
    }

    #post-date {
      float: right;
      font-size: 15px;
      padding-top: 20px;
    }

  }
  #content {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
  }
}

.row {
  .post {
    margin-bottom: 20px;
  }
}